<%- layout('/layouts/boilerplate') %>

<h1>Edit <%=venue.name %></h1>
<form action="/venues/<%=venue.id%>?_method=PUT" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" name="venue[name]" id="name" value="<%= venue.name %>" />
  </div>
  <div>
    <label for="location">Location</label>
    <input
      type="text"
      name="venue[location]"
      id="location"
      value="<%= venue.location %>"
    />
  </div>
  <button>Save Changes</button>
</form>
<button>
  <a href="/venues/<%= venue.id %> ">Back</a>
</button>
