<%- layout('/layouts/boilerplate') %>

<div class="row">
  <div class="col-6">
    <div class="card">
      <img src="<%=venue.image %> " class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%=venue.name %></h5>
        <p class="card-text"><%= venue.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= venue.location %></li>
        <li class="list-group-item">Submitted by <%=venue.author.username%></li>
        <li class="list-group-item">$<%= venue.price %></li>
        <li class="list-group-item">
          <% if(venue.rental === 'Yes') { %> Rentals available <% } else {%>
          Rentals not available <% } %>
        </li>
      </ul>
      <% if(currentUser && venue.author.equals(currentUser.id)) {%>
      <div class="card-body">
        <a
          class="card-link btn btn-warning"
          href="/venues/<%= venue.id %>/edit "
        >
          Edit Venue
        </a>
        <form
          class="d-inline"
          action="/venues/<%= venue.id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">DELETE</button>
        </form>
      </div>
      <% } %>
    </div>
  </div>

  <div class="col-6">
    <% if(currentUser) {%>
    <h2>Leave a Review</h2>
    <form
      action="/venues/<%= venue.id %>/reviews"
      method="POST"
      class="mb-3 validated-form"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <input
          class="form-range"
          type="range"
          name="review[rating]"
          id="rating"
          min="1"
          max="5"
          value="1"
        />
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Review</label>
        <textarea
          class="form-control"
          id="body"
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          required
        ></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <% } else { %>
    <h2>Login to leave a review</h2>
    <% } %> <% for (review of venue.reviews) {%>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Rating: <%= review.rating %></h5>
        <h6 class="card-subtitle mb-2 text-muted">By <%=review.author.username %></h6> </h6>
        <p class="card-text">Review: <%= review.body %></p>
      <% if(currentUser && review.author.equals(currentUser.id)) {%>
        <form
          action="/venues/<%= venue.id%>/reviews/<%=review.id%>?_method=DELETE"
          method="POST"
        >
        <button class="btn-sm btn-danger">Delete Review</button>
      </form>
      <% } %> 
      </div>
    </div>
    <% } %>
  </div>
</div>
